.mojDivkkk {
  
  /* font-weight: 550;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  
  color: white; 
  position: relative;
  display: flex;
  background-color: rgb(130, 130, 130); */
}

.icon {
  position: relative;
  width: 30px;
 /* Tailwind -right-12 = -3rem */
  font-size: 30px;    /* text-[50px] */
  background-color: aqua;
  display: flex;
  /* height: 45%; */
  /* margin: 0px 0px 25% 0px; */
  font-size: 10vw;
  align-items: end;
}
@media (min-width: 340px) {
    .mojDivkkk {
  font-size: 30vw;}
}

@media (min-width: 640px) {
  .mojDiv {
    font-size: 110px;
  }
}

@media (min-width: 640px) {
  .mojDiv {
    font-size: 110px;
  }
}