.custom-scroll {
  display: flex;

  flex-direction: column;         /* flex-col */
      /* bg-blue-500 */
  overflow-y: scroll;             /* scrollovanie vertikálne */

  height: 200px ;
  width: 100%;                     /* w-full */
  gap: 0.5rem;         
              /* gap-2 = 0.5rem */
              margin-top: 5px;
}

/* Skrytie scrollbaru */
.custom-scroll::-webkit-scrollbar {
  display: none;
}
.custom-scroll {
  -ms-overflow-style: none;  /* IE a Edge */
  scrollbar-width: none;     /* Firefox */
}
.custom-scroll2 {
  display: flex;

  flex-direction: column;         /* flex-col */
      /* bg-blue-500 */
  overflow-y: scroll;             /* scrollovanie vertikálne */
background-color: blue;
  height: 200px ;
  width: 100%;                     /* w-full */
  /* gap: 0.5rem;          */
              /* gap-2 = 0.5rem */
              padding: 2px;
              margin-top: 5px;
}
.custom-scroll32 {
  display: flex;
  gap: 2px;
background-color: blue;
  flex-direction: column;         /* flex-col */
      /* bg-blue-500 */
  overflow-y: scroll;             /* scrollovanie vertikálne */

  height: 200px ;
  width: 100%;                     /* w-full */
  /* gap: 0.5rem;          */
              /* gap-2 = 0.5rem */
              margin-top: 5px;
}
