  .scroll-container {
   
  }

@media (min-width: 768px) {
  .scroll-container {
    height: 100dvh;              /* výška na celú obrazovku */
    overflow-y: auto;             /* povolené scrollovanie */
    overscroll-behavior: contain; /* zabráni "bounce" efektu na touch zariadeniach */

    /* skrytie scrollbaru */
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE 10+ */
  }

  /* Chrome, Safari, Edge */
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
}