@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  min-height: 100svh;  /* bezpečná výška iOS */
  overflow-x: hidden;
  overflow-y: auto;     /* scrolluje celé body */
  background-color: black;
   overscroll-behavior: contain; 
}

#root {
height: 100svh;   
  width: 100%;         
  background-color: red;
   display: flex;
  flex-direction: column;
   overscroll-behavior: contain;
}