@tailwind base;
@tailwind components;
@tailwind utilities;


 html, body {
  height: 100vh;  /* bezpečná výška iOS */
  overflow-x: hidden;
  overflow-y: hidden;     /* scrolluje celé body */

}



@media (max-width: 767px) {

html, body {
  min-height: 100svh;  /* bezpečná výška iOS */
  overflow-x: hidden;
   height: none; 
  overflow-y: auto;     /* scrolluje celé body */
  background-color: black;

}

}
#root {
  min-height: 100svh;   /* vyplní celú obrazovku */
  width: 100%;          /* celá šírka */
  background-color: red;
}