@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  min-height: none;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  background-color: #000;
}

#root {
  width: 100%;
}



@media (max-width: 767px) {
html, body {
  min-height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  background-color: #000;
}

#root {
  width: 100%;
}


}
