@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  min-height: 100svh;  /* bezpečná výška iOS */
  overflow-x: hidden;
  overflow-y: auto;     /* scrolluje celé body */
  background-color: black;
}

#root {
  min-height: 100svh;   /* vyplní celú obrazovku */
  width: 100%;          /* celá šírka */
  background-color: red;
}