@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  min-height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  background-color: #000;
}

#root {
  width: 100%;
}

html, body {
  min-height: 100svh;   /* iOS bezpečná výška */
  overflow-x: hidden;
}

